<!DOCTYPE html>
<html><head>
  <title>Hashtagsales</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<link href="../../../public/stylesheets/hashtagsales.css" rel="stylesheet" media="screen" type="text/css" ></head><body><div style="" id="stage" ><div style="" id="header" ></div><div style="" id="posts" ></div><div style="" id="spacer" ></div><div style="" id="actions" ></div></div>

<%= yield %>



</body></html>